# Build directories and binaries
build/
*.exe

# Downloaded libraries and DLLs
# We will commit freeglut so group members don't have to download it!
freeglut.zip

# IDE and OS specific files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
